.navb{
    background-color: aqua;
  }
  .logo{
    width: 100px;
    text-align: center;
    
  }
  li:hover{
    color: rgb(245, 0, 151);
    cursor: pointer;
  }
  .portfolio-container {
    align-items: center; 
    margin-bottom: 40px;
  }
  .project {
    align-items: center;
    max-width: 1300px; 
    margin-top: 50px;
    margin-bottom:50px;
  }
  .carousel img {
    width: 100%;
    height: 100%; 
  }